@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong> <a href="mailto:Support@learnondemandsystems.com">Support@learnondemandsystems.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Sales@learnondemandsystems.com">Sales@learnondemandsystems.com</a>
</address>